/* font-famili - primero */

/* selector Universal */
*{
    margin: 0;
    padding: 0;
}

/* limpiar efectos nativos o por defecto */

a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

header{
    background-color: red;
}

.navbar{
    position: fixed;
    top: 0;
    background-color: #f9f9f9;
    height: 80px;
}

.navbar div{
    width: 800px;
    margin: 0 auto;
}
.navbar a{
    font-size: 14px;
    line-height: 80px;
    font-weight: 500;
    padding: 10px 20px;
    margin: 0 10px;
    letter-spacing: 2px;
}

.contenedor-imagen{
    height: 100vh;
}

.contenedor-imagen img{
    width: 100%;
    height: 100%;
}